.cart {
  background-color: #354049;
  color: white;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;

  .row {
    text-align: center;
    display: inline-block;
    width: 100%;

    & > div {
      display: inline-block;
      padding: 10px;
    }

    &.row-total {
      border-top: 10px solid white;
      padding-top: 20px;
      padding: 20px;
      width: calc(100% - 40px);
      margin-top: 30px;
    }

    &.row-header {
      color: #e97200;
      font-weight: bold;
      font-size: 17px;
      letter-spacing: 0.6px;
      margin-top: 10px;
    }
  }
  .image {
    width: 200px;
    float: left;
  }
  .quantity {
    width: 50px;
    float: left;
  }
  .price {
    width: 100px;
    float: right;
  }
  .remove {
    width: 120px;
    float: right;
  }
  .title {
    width: auto;
  }
  .total {
    float: left;
    font-weight: bold ;
    padding-left: 20px;
  }
  .total-value {
    float: right;
    font-size: 22px;
    font-weight: bold;
  }
}