body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

.App {
  text-align: center;
}
