.product {
  width: 25%;
  display: inline-block;

  &>img {
    width: 64px;
  }

  .product-name {
    margin-bottom: 5px;

    img.discount-price {
      width: 30px;
      position: absolute;
      margin-left: 10px;
    }
  }
  
  .product-price {
    color: green;
    font-size: 14px;
  }

  .add-to-cart {
    padding: 5px;

    img.cart-icon {
      margin-top: 5px;
      cursor: pointer;
      width: 20px;
    }
  }
}