.app-header {
  background-color: #354049;
  height: 70px;
  padding: 20px;
  color: white;

  img.logo {
  	position: absolute;
  	left: 30px;
  	height: 60px; 
  	margin-top: 5px;
  }

  .shopping-cart {
    position: absolute;
    right: 30px;
    top: 20px;
    text-align: center;

    img {
      width: 40px;
      position: initial;
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
}